<a routerLink="/rentals/{{rentalData._id}}">
<div class="card bwm-card">
  <img class="card-img-top" style="border-radius:1.6%" src="{{rentalData.image}}" alt="">
  <div class="card-block">
    <h6 class="card-subtitle {{rentalData.category}}">&nbsp;{{rentalData.shared ? 'Shared' : 'Entire'}} {{rentalData.category}} &#183;{{rentalData.city}}</h6>
    <h4 class="card-title"> &nbsp;{{rentalData.title}}</h4>
    <p class="card-text"> &nbsp;${{rentalData.dailyRate}} &#183; Free Cancelation</p>
  </div>
</div>
</a>